@model IEnumerable<PharamcyMedicineSupplyPortal.Models.PharmacyMedicineSupply>

<link rel="stylesheet" href="~/css/CustomList.css" />
<table  class="table" id="medi-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pharmacyname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicinename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplycount)
            </th>
            

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pharmacyname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicinename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplycount)
            </td>
            

        </tr>
}
    </tbody>
</table>
